#Rulebox {
	background-color:black;
	color:aquamarine;
	font-family: Papyrus;
	
	border-color:grey;
	text-align:center;
	width:550px;
	height:250px;
	margin-top:-50px;

}

h1 {
	font-family:cursive;
	text-align:center;
	color:aquamarine;
}

body {
	background-color:black;
}

.crystals-button {
	display:inline;
	padding:2px;
	
}


#computerNumber {
	color:#777;
	font-size:30px;
	text-align:center;
}   

#winKeeper{
	float:right;
	background-color:black;
	color:aquamarine;
	font-family: Papyrus;
	text-align:center;
	width:450px;
	height:250px;
	margin-top:-250px;
	margin-right:100px;
	font-size:30px;

}


#score-number {
  background-color:black;
  color:aquamarine;
  margin-top:-200px;
  margin-left:550px;
  text-align:center;
  font-size:50px;
  height:150px;
  width:150px;
}


