#Rulebox {background-color: #777;
	color:white;
	font-family: Papyrus;
	border-style: dashed;
	border-color:white;
	text-align:center;
	width:550px;
	height:650px;

}

h1 {text-align:center;
	color:#777;
}

body {
	background-color:aquamarine;
}

#computernumber {
	color:#777;
	font-size:30px;
	text-align:center;
}   

#yourscore {background-color: #777;
	color:white;
	border-style: dashed;
	border-color:white;
	text-align:center;
	width:150px;
	height:150px;
	
	}

#crystala {float:right;
	margin-top:-550px;
	margin-right:50px;

	
}


#crystalb {float:right;
	margin-top:-800px;
	margin-right:50px;

}

#crystalc {float:right;
	margin-top:-800px;
	margin-right:300px;

}

#crystald {float:right;
	margin-top:-550px;
    margin-right:300px;
}
